  GNU nano 4.8                                                                                                                                                                      uat_proxy                                                                                                                                                                                 
# SSL server blocks with common SSL configuration
server {
    listen 80;
    server_name uat.yieldexchange.ca;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    access_log /var/log/nginx/dev_proxy.log;
    error_log /var/log/nginx/dev_proxy-proxy-error.log;
}

server {
    listen 443 ssl;
    server_name uat.yieldexchange.ca;

    ssl_certificate /home/ubuntu/certificate.crt;
    ssl_certificate_key /home/ubuntu/private.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers off;

    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    access_log /var/log/nginx/dev_proxy-ssl.log;
    error_log /var/log/nginx/dev_proxy-ssl-error.log;
}


server {
    listen 443 ssl;
    server_name uat-db.yieldexchange.ca;

    ssl_certificate /home/ubuntu/certificate.crt;
    ssl_certificate_key /home/ubuntu/private.key;
    ssl_protocols TLSv1.2 TLSv1.3;
    ssl_ciphers 'TLS_AES_128_GCM_SHA256:TLS_AES_256_GCM_SHA384:TLS_CHACHA20_POLY1305_SHA256:ECDHE-RSA-AES128-GCM-SHA256:ECDHE-RSA-AES256-GCM-SHA384';
    ssl_prefer_server_ciphers off;

    location / {
        proxy_pass http://localhost:8081;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    access_log /var/log/nginx/dev_proxy-ssl.log;
    error_log /var/log/nginx/dev_proxy-ssl-error.log;
}


